#version=RHEL8
ignoredisk --only-use={{ virt_dom_disk_name }}
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive={{ virt_dom_disk_name }}
# Partition clearing information
clearpart --none --initlabel
# Use text or graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate
network  --hostname="{{ virt_dom_os_hostname }}"

{% if 'rhel8' in virt_dom_os_variant %}
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
{% endif %}
# Root password
rootpw --{{ virt_dom_os_password_crypted | ternary('iscrypted', 'plaintext')}} {{ virt_dom_os_password }}
user --groups=wheel --name={{ ansible_user | default(lookup('env', 'USER')) }} --password={{ virt_dom_os_password }} --{{ virt_dom_os_password_crypted | ternary('iscrypted', 'plaintext')}} --gecos="Ansible User"
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/GMT --isUtc
# Disk partitioning information
part pv.{{ virt_dom_os_fs }} --fstype="lvmpv" --ondisk={{ virt_dom_disk_name }} --size=500 --grow
part /boot --fstype="xfs" --ondisk={{ virt_dom_disk_name }} --size=1024 --label=BOOTFS
#part /boot/efi --fstype=efi --size=600 --fsoptions="umask=0077,shortname=winnt"
volgroup rhel --pesize=4096 pv.{{ virt_dom_os_fs }}
logvol swap --fstype="swap" --recommended --name=swap --vgname=rhel
{% for fs in virt_dom_os_file_systems %}
logvol {{ fs.mount }} --fstype={{ fs.type }} --name={{ fs.name }} --vgname={{ virt_dom_os_fs }} --size={{ fs.size }} {% if 'maxsize' in fs and fs.maxsize %}--maxsize={{ fs.maxsize }}{% endif %} {% if 'grow' in fs and fs.grow %}--grow{% endif %} --label={{ fs.label }}
{% endfor %}

# reboot after installation is finished
reboot

# Security settings not required by RHEL 8 but perhaps by RHEL 7
firewall --enabled --service=ssh
selinux --enforcing

%packages
{% if 'rhel8' in virt_dom_os_variant %}
@^minimal-environment
{% elif 'rhel7' in virt_dom_os_variant %}
@^minimal
@core
chrony
{% endif %}
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# post-install not required for now...
#%post
#%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
