{% set rhel_major = virt_dom_os_variant | ansible.builtin.regex_replace('^rhel(\\d*).*$', '\\1') | int %}
#version=RHEL{{ rhel_major }}
ignoredisk --only-use={{ virt_dom_disk_name }}
# System bootloader configuration
bootloader {% if rhel_major < 10 %}--append=" crashkernel=auto" {% endif %}--location=mbr --boot-drive={{ virt_dom_disk_name }}
# Partition clearing information
clearpart --none --initlabel
# Use text or graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate
network  --hostname="{{ virt_dom_os_hostname }}"

{% if rhel_major == 8 %}
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
{% endif %}
# Root password
rootpw --{{ virt_dom_os_password_crypted | ternary('iscrypted', 'plaintext')}} {{ virt_dom_os_password }}
user --groups=wheel --name={{ ansible_user | default(lookup('env', 'USER')) }} --password={{ virt_dom_os_password }} --{{ virt_dom_os_password_crypted | ternary('iscrypted', 'plaintext')}} --gecos="Ansible User"
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/GMT {% if rhel_major < 9 %}--isUtc{% else %}--utc{%endif%}

# Disk partitioning information
part pv.{{ virt_dom_os_fs }} --fstype="lvmpv" --ondisk={{ virt_dom_disk_name }} --size=500 --grow
part /boot --fstype="ext4" --ondisk={{ virt_dom_disk_name }} --size=1024 --label=BOOTFS
{% if virt_dom_uefi %}
part /boot/efi --fstype=efi --size=600 --fsoptions="umask=0077,shortname=winnt"
{% else %}
part biosboot --fstype biosboot --size 1
{% endif %}
volgroup rhel --pesize=4096 pv.{{ virt_dom_os_fs }}
logvol swap --fstype="swap" --recommended --name=swap --vgname=rhel
{% for fs in virt_dom_os_file_systems %}
logvol {{ fs.mount }} --fstype={{ fs.type }} --name={{ fs.name }} --vgname={{ virt_dom_os_fs }} --size={{ fs.size }} {% if 'maxsize' in fs and fs.maxsize %}--maxsize={{ fs.maxsize }}{% endif %} {% if 'grow' in fs and fs.grow %}--grow{% endif %} --label={{ fs.label }}
{% endfor %}

# reboot after installation is finished
reboot

# Security settings not required by RHEL 8 but perhaps by RHEL 7
firewall --enabled --service=ssh
selinux --enforcing

%packages
{% if rhel_major <= 7 %}
@^minimal
@core
chrony
{% else %}
@^minimal-environment
{% endif %}
kexec-tools

%end

{% if rhel_major < 10 %}
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

{% if rhel_major < 9 %}
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
{% endif %}
{% endif %}
