[defaults]

# this is only necessary to make the collection roles work from this directory,
# without the collection being installed (during development)
collections_paths=../../../..

[ssh_connection]

ssh_args=-C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
